.navbar-container {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.page {
  min-height: 100vh;
  padding: 10%;
}

.about {
  padding-top: 10rem;
}

.blog {
  padding-top: 10rem;
}

.projects {
}

.contact {
  padding-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-img-col {
  display: flex;
  align-items: flex-end;
  justify-content: end;
  margin-bottom: 3rem;
  margin-right: 3rem;
}

/* .about-img {
  width: 20rem;
  height: 20rem;
  background-image: url("./assets/profil.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover; 
  border-radius: 3%;
  -webkit-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 5px 5px 0px 1px rgba(0, 0, 0, 0.5);
} */

.name {
  color: #f59208;
}

.post {
  margin-bottom: 5%;
}

.category {
  margin-right: 2%;
  cursor: pointer;
}
.category:hover {
  transform: scale(1.5);
}

.contact-row {
  padding-left: 2rem;
  padding-right: 2rem;
}

.contact-icon {
  width: 5rem;
  height: 5rem;
}
.contact-icon:hover {
  transform: scale(1.5);
}

.contact-col {
  margin-bottom: 1%;
}
