@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");

html {
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

@supports (font-variation-settings: normal) {
  html {
    font-family: "Quicksand", sans-serif;
  }
}

body {
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none;
  margin: 0;
  font-family: "Quicksand", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

#root {
  background-image: url("./assets/bg.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
